---

---
<header class="flex flex-col justify-between min-h-screen p-12 sticky top-0">
    <div class="flex1 pt-12">
        <h1>Ricardo Duarte</h1>
        <h2 class="pb-12 text-cyan-400">Web Developer</h2>

        <p class="text-2xl text-white max-w-screen-sm font-light drop-shadow-lg">
            Passionate and experienced professional dedicated to creating high-quality digital solutions. With extensive
            expertise in implementing cutting-edge technologies.
        </p>

        <p class="text-2xl text-white max-w-screen-sm drop-shadow-lg font-bold">I translate ideas into web
            applications.</p>
    </div>

    <footer>
        Find me at <a href="https://github.com/duartec2" target="_blank">Github</a>, <a
            href="https://twitter.com/duartec2" target="_blank">Twitter</a> and <a href="https://www.linkedin.com/in/ricardoduartecedillo/" target="_blank">LinkedIn</a>.<br>
        <a href="https://duartec2.github.io/cv/" target="_blank">View my CV</a> <a href="https://s3.amazonaws.com/s3.duartec2.com/CV-Ricardo_Duarte+2023-08.pdf" target="_blank">(PDF)</a>
    </footer>
</header>