<div class="fixed">
    <div class="relative w-full min-h-screen">
        <div class="bg-pink-600 h-[550px] w-[550px] rounded-full absolute bottom-24 -left-72 mix-blend-multiply animate-blob opacity-50"></div>
        <div class="bg-cyan-600 h-[500px] w-[500px] rounded-full absolute bottom-20 -left-48 mix-blend-multiply animate-blob animation-delay-2000"></div>
        <div class="bg-emerald-600 h-[450px] w-[450px] rounded-full absolute bottom-32 -left-52 mix-blend-multiply animate-blob animation-delay-4000"></div>
    </div>
</div>

<style>
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
</style>