<div class="fixed top-0">
    <div class="relative">
        <div class="bg-pink-600 h-[50px] w-[50px] rounded-full absolute top-0 left-2 mix-blend-multiply animate-miniblob opacity-50"></div>
        <div class="bg-cyan-600 h-[50px] w-[50px] rounded-full absolute top-4 left-4 mix-blend-multiply animate-miniblob animation-delay-2000"></div>
        <div class="bg-emerald-600 h-[45px] w-[45px] rounded-full absolute top-2 left-0 mix-blend-multiply animate-miniblob animation-delay-4000"></div>
    </div>
</div>

<style>
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
</style>